body{
  background-color: rgb(67, 63, 63);
  text-align: center;
}
.div1{
    background-color: rgb(224, 143, 37);
    
    text-align: center;
}
.div2{
    background-color: rgb(55, 148, 117);
    text-align: center;
}